#allPostsBlock {
  background-color: #e5e5e5;
}

#postBlock {
  width: 200px;
  height: 400px;
  border: 1px solid gray;
}

.postBlock {
  width: 200px;
  height: 200px;
}

.imagePost {
  width: 100px;
  height: 100px;
}