@import "variables";

body {
  background-color: #ffffff;
  font-family: $fontPoppins;
}

.readMoreSinglePost {
  margin: 50px 0;

  h6 {
    color: grey;
    //font-size: 15px !important;
    font-style: italic;

  }
}


.imagePoDiv {
  max-width: 100%;

  img {
    width: 100%;
  }
}


.text-center {
  margin: 30px 0;
}

#editPostBtn, #deletePostBtn {
  margin: 0 10px;

  a {
    text-decoration: none;
    color: white;
  }
}

.marginBtnTop {

}